.btn-randomPokemon, .btnLogin{
  background-color: #81E6D9;
}

.card{
  background-color: transparent;
  border: 1px solid #E2E8F0;
  color: white;
}

#username, #password{
  background-color: transparent;
  color: white;
}